.sidetxt{
	font-size:24px;position: relative;
    bottom: 10px;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}
.icn{
	font-size:36px !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #080808;
    font-size: 18px !important;
}
 .content1{
	 background-color: #ebb53b;width:100%;
 }
.bannerimg{
	width: 30%;  float: right;
}
.margin-bottom-20{
	margin-bottom:20px;
}
.view{
font-size: 16px;
}
.content2img{
	border: 2px solid #bdbaba;
	border-radius: 8px; 
}
.content3img{
border: 2px solid #bdbaba;
border-radius: 8px;   
padding: 20px;
}
.content4{
	border-bottom: 1px solid #9999;
	border-top: 1px solid #9999;
}
.foot1,.foot3{
	padding: 25px 14px 19px 70px;
}
.foot2{
	border-right: 1px solid #9999;  
	border-left: 1px solid #9999;  
	    padding: 24px 14px 40px 70px;
  
}
.h1, h1 {
    font-size: 28px;
}
.h3, h3 {
    font-size: 18px;
}
 @media only screen and (min-width: 1025px) and (max-width: 1440px){
	.foot2 {
    border-right: 1px solid #9999;
    border-left: 1px solid #9999;
    padding: 15px 14px 27px 70px;
}
.foot1, .foot3 {
    padding: 16px 14px 5px 70px;
} 
.sidetxt {
    font-size: 22px;
    position: relative;
    bottom: 10px;
}
.form-control {
    font-size: 16px !important;
    height: 39px !important;
    color: #999999;
}
 }
 @media only screen and (min-width: 769px) and (max-width: 1024px){
	 .content2img {
    border: 2px solid #bdbaba;
    border-radius: 8px;
    width: 300px;
}
.foot1, .foot3 {
    padding: 28px 14px 19px 55px;
}
.foot2 {
    border-right: 1px solid #9999;
    border-left: 1px solid #9999;
    padding: 30px 14px 19px 50px;
}
.sidetxt {
    font-size: 18px;
    position: relative;
    bottom: 10px;
}
.red {
    padding: 2px 15px !important;
    color: white;
    font-size: 14px !important;
    background-color: #ff3333;
}
.green {
    padding: 2px 15px !important;
    color: white;
    font-size: 14px !important;
    background-color: #33cc66;
}
.reg {
    bottom: 5px;
    background-color: blue;
    padding: 2px 15px !important;
    color: white;
    font-size: 14px !important;
    position: relative;
}
.tabimg{
    width: 140px;
}
.txt {
    font-size: 14px !important;
}
.icn {
    font-size: 30px !important;
}
.form-control {
    font-size: 12px !important;
    height: 30px !important;
    color: #999999;
}
 }
 @media only screen and (max-width: 425px){
	 table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
.sidetxt {
    font-size: 14px !important;
    position: relative;
    bottom: 10px;
}
.icn {
    font-size: 28px !important;
}
	 .list-group-item {
    text-align: left !important;
    padding: 10px 10px 10px 7px !important;
}
.h1, h1 {
    font-size: 18px;
}
.h3, h3 {
    font-size: 16px;
}
.view{
font-size: 12px;
}
.form-control {
    font-size: 14px !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #080808;
    font-size: 16px !important;
}
.foot2 {
	 border-top: 1px solid #9999 !important;
	  border-bottom: 1px solid #9999 !important;
    border-right: 0px solid #9999 !important;
    border-left: 0px solid #9999 !important;
   padding: 14px 14px 15px 30px !important;
}
.foot1, .foot3 {
    padding: 15px 14px 15px 30px !important;
}
 }
 
 @media only screen and (min-width: 768px){
.navbar {
    border-radius: 0px;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 65px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
	}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 76px;
}

.booking{
background-color: #fff;
    border-radius: 8px;
    padding: 0px 20px 0px 20px;
	margin-top: 0px;
	    margin-left: 0px;
	margin-bottom: 50px;
}
}
  @media only screen and (max-width: 768px){
	  .booking{
background-color: #fff;
    border-radius: 8px;
    padding: 0px 20px 0px 20px !important;
	margin-top: 0px !important;
	    margin-left: 0px !important;
	margin-bottom: 50px;
}
.content2img {
    border: 2px solid #bdbaba;
    border-radius: 8px;
    width: 100%;
}
.content3img{
	 width: 100%;
}
.sidetxt {
    font-size: 18px;
    position: relative;
    bottom: 10px;
}
.red {
    padding: 2px 15px !important;
    color: white;
    font-size: 14px !important;
    background-color: #ff3333;
}
.green {
    padding: 2px 15px !important;
    color: white;
    font-size: 14px !important;
    background-color: #33cc66;
}
.reg {
    bottom: 5px;
    background-color: blue;
    padding: 2px 15px !important;
    color: white;
    font-size: 14px !important;
    position: relative;
}
.tabimg{
    width: 140px;
}
.txt {
    font-size: 14px !important;
}
.icn {
    font-size: 30px !important;
}
.form-control {
    font-size: 12px !important;
    height: 30px !important;
    color: #999999;
} 
.foot2 {
    border-right: 1px solid #9999;
    border-left: 1px solid #9999;
    padding: 48px 5px 58px 22px;
}
.foot1, .foot3 {
    padding: 50px 7px 16px 22px;
}
  }
.navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.container-fluid {
    margin-top: 13px;
	}
	.navbar-brand {
    bottom: 30px;
    position: relative;
	}
	.reg{
	    bottom: 5px;
  background-color: blue;
    padding: 5px 30px;
color:white;
font-size: 18px;
    position: relative;
	}
	.navbar-inverse {
    background-color: #ebb53b;
	color:white;
	}
	.navbar-inverse .navbar-nav>li>a {
    color: #080808;
	font-size: 18px;
}
.navbar-inverse .navbar-brand {
    color: #080808;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #000;
    background-color: #ffffff00;
}
.booking{
background-color: #fff;
    border-radius: 8px;
    padding: 10px 50px 35px 77px;
	margin-top: 65px;
	    margin-left: 80px;
	margin-bottom: 50px;
}
.margin-top-20{
margin-top:20px;
}
.margin-top-10{
margin-top:10px;
}
.right{
float:right;
text-align:right;
}
.red{
   padding: 5px 30px;
color:white;
font-size: 18px;
background-color:#ff3333;
}
.green{
   padding: 5px 30px;
color:white;
font-size: 18px;
background-color:#33cc66;
}
.form-control {
       font-size: 18px;
    height: 50px;
	color:#999999;
	}
	.margin-top-40{
	margin-top:40px;
	}
@media (min-width: 768px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 65px;
}
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ffffff;
}
@media (min-width: 768px){
.navbar-nav {
    float: right;
    margin: 0;
}
}
  .list-group-item:first-child,.list-group-item:last-child {
    border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
}
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
 
  

  margin-top: 0px;
  margin-left: 0px;
 
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #22adb2;
  background-image: #fff;
  color: #ffffff;
      border: 1px solid #28afb4;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #22adb2;
}
.list-group-item.active{
    border-color: #22adb2;
	}
	.list-group-item{
	    text-align: left;
    padding: 10px 10px 10px 30px;
	}
div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
  li{
  list-style-type:none
  }
  .side >ul >li.active{
      padding-left: 17px;
    background: #D9853B;
    border-left: 3px solid #ECECEA;
	}
  .side >ul >li.active:before{
  content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 7px solid #D9853B;
       margin-top: -5px;
    margin-left: 218px;
	}
  .footer {
   clear:both;
   }
.margin-bottom-10{
	margin-bottom:10px;
}
