table#example1 thead {
    background-color: #e0e0e0;
}
		.m-widget1__desc{
	
		font-size: 14px;
    color: #4c4c4c;
    font-weight: 400;
	}
	.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 70%;
   
    border-radius: 50% !important;
}
 .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
	    border: 2px solid #f4f5f8;
    padding: 8px;
}
.background-color-grey {
    color: #333;
    background-color: #eee;
}
button.btn.btn-sm.btn-red {
    padding: 7px 10px 7px 10px;
    background-color: #fd6262;
    color: white;
}
button.btn.btn-xs.btn-red{
    padding: 5px 10px 5px 10px;
    background-color: #fd6262;
    color: white;
	}
	#edit_placement {    margin-top: -21px;
    margin-left: 55px;
      width: 100%;
    margin-bottom: 0px;}
	.none{
	display:none;
	}
	.font-color-grey {
    color: #ccc !important;
}
	.font-color-grey :hover{
    color: #000 !important;
}
.background-color-dark {
       color: #fff !important;
    padding: 3px 6px 3px 6px;
    background-color: #7d7d7d !important;
    border-radius: 13px;
}
.cursor-pointer{
cursor:pointer;
}
@media screen and (max-width: 767px) {
.col-xs-offset-2 {
    margin-left: 20.333333%;
}
}
.btn-blue:hover{
	color:#fff;
}
.bouton-contact{
  background-color: #81BDA4;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
}

.leftcontact {
  width:49.5%; 
  float:left;
  border-right: 1px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width:49.5%;
  float:right;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

#sendmessage {
  border:1px solid #fff;
  display:none;
  text-align:center;
  margin:10px 0;
  font-weight:600;
  margin-bottom:30px;
  background-color: #EBF6E0;
  color: #5F9025;
  border: 1px solid #B3DC82;
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
  display:block;
}
.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:#c1c1c1;
  height:40px;
  position: relative;
  text-align: center;
  line-height:40px;
}
.contentform {
  padding: 20px 30px;
}
#contact {
  width: 100%;
 
 
  overflow: hidden;
  padding-bottom: 50px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  
  letter-spacing: 6px;
 
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 1000px;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 600px;
     border: 1px solid #c1c1c1;
  font-weight: 400;
  border-radius: 6px;
}

.form-control, textarea {
  max-width: 475px;
 
  color: #000;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}


.send-text {
  display: block;
  margin-top: 10px;
 
  letter-spacing: 2px;
}



/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
color:#000;
  text-decoration: none;
  transition-duration: 0.2s;
      font-size: 18px;
}

.contact-text a:hover {
 color: #2739c1;
    text-decoration: underline;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #000;
}

.social-media-list li {
  position: relative; 
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: #fff;
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #000;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #000; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #fff;
}




/* Begin Media Queries*/
@media screen and (max-width: 760px) {
    #contact {
        height: 1000px;
    }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
    }
  .section-header{
    font-size: 50px;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

.info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

.info i {
  color:#F6AA93;
}
form h1 {
  font-size: 18px;
  background: #de5e63 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  text-align:left
}


p span {
  color: #F00;
}


.contentform > .leftcontact input#email,.contentform > .leftcontact input#prenom{
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #c1c1c1;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}

.contentform > .rightcontact input#phone,.contentform > .rightcontact input#sujet{
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #c1c1c1;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}

a {
  text-decoration:inherit
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #c1c1c1;
  margin: 0;
  width: 100%;
  height: 130px; 
  float: left;
  padding: 0px 15px;
}

.form-group {
  overflow: hidden;
  clear: both;
}
.m-subheader-search__title_small{
font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin: 20px 10px 10px 10px;
	}
.side_padng{
        margin-right: 15px;
    margin-left: 15px;
	}
.cont_padng {
    padding: 30px 0px 30px 0px !important;
}
.red{
color:#d60707;
}
.txt_news {
    margin-bottom: 0.8rem;
   font-weight: 400;
    line-height: 1.5;
      font-size: 14px;
}
.news_height{
    color: #000;
    height: 350px;
}
.news_height1{
    color: #000;
    height: 500px;
}
.sub_title{
    text-align: center;
    padding: 10px 200px 10px 200px;
    color: #4e4e4e;
}
.li_para {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: black;
    font-weight: 400;
}
.stat_page {
    border-top: 2px solid #e0dfdf !important;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08) !important;
    background-color: #ffffff !important;
    border-radius: 6px !important;
    border: 2px solid #e0dfdf !important;
}
@media (min-width: 768px) and (max-width: 1023px){
.news_height{
    height: 575px !important;
}
.news_height1{
    height: 850px !important;
	}
.m-invoice-1 .m-invoice__wrapper {
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
}
}
@media (min-width: 1024px) and (max-width: 1439px){
.news_height{
    height: 430px !important;
}
.news_height1{
    height: 580px !important;
	
}

}
@media (max-width: 1036px) {
.direct-contact-container {
    max-width: 400px !important;
    float: left !important;
    margin-top: 5px;
}
.gmail, .phone {
    margin-left: 56px !important;
}
}
@media (min-width: 1037px) and (max-width: 1120px) {
	.gmail ,.phone{
    margin-left: 20px !important;
}
.direct-contact-container {
    max-width: 255px !important;
}
}
@media (max-width: 767px) {
	.m-invoice-1 .m-invoice__wrapper {
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
}
td > a > img {
	width: 25px;
	
	}
.news_height,.news_height1{
    height: auto !important;
	    padding-bottom: 18px !important;
}
.side_padng{
        margin-right: 0px;
    margin-left: 0px;
	}
	.leftcontact,.rightcontact {
    width: 100% !important;
	padding: 0px 0px 0px 0px !important;
	border-right: 0px dotted #CCC !important;
	}
.sub_title{
    
    padding: 10px 10px 10px 10px;
    
}
.cont_padng {
    padding: 15px 0px 0px 0px !important;
}
}
.faq-section {
    background: #fdfdfd;
    min-height: 100vh;
    padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #E91E63;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(233, 30, 99, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #E91E63;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}


.titlesml{
color: #d7d8da !important;
margin-bottom: 5px;
    font-weight: 400;
    line-height: 0.6;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -34px;
      right: 5px;
  position: relative;
  z-index: 2;
  color: grey;
}
.select2-container--default .select2-selection--single {
width: 100%;
    height: 34px !important;
    border: 1px solid #cccccc !important;
	 font-size: 14px !important;
    line-height: 1.42857143;
    color: #555 !important;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #555 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
   
    padding: 0.57rem 1.15rem !important;
   
}
.btn.btn-danger {
    padding: 8px 16px 8px 16px !important;
}
.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}


		input[type=search]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
		box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;appearance:none}
		input[type=checkbox],input[type=radio]{margin:4px 7px 0;margin-top:1px\9;line-height:normal}
	
		.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;
		background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s}
		
.center{
	text-align:center;
}
.right{
	float:right;
	text-align:right;
}
.step1{
background-color: #3571a5;
    color: white;
    padding: 8px 2px 5px 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.bluebox {
    border-radius: 8px;
    border: 1px solid black;
   
}

.resetxt{
   text-align: center;color:red;font-weight:500px;
   }
   .modbtn{
   font-size: 12px;color: #1faae2;
    font-weight: 600;cursor: pointer;background-color: #ffffff00;border: 0px;
	}
	.smlhead{
	font-size:12px;color: grey;font-weight:500;
	}

	.fa-grey{
	    color: #aba8a8;
	}
.left{
	float:left;
	text-align:left;
}
.PayUindia:before{
 content: '';
    display: block;
    border: 1em solid #dfdcde;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -.75em;
    left: 0;
    margin: -1em 0 0 4em;
}
.heading{
    font-weight: 500;
    font-size: 14px;
	}
.PayUindia
{
background: #dadada;color: #000;
}
.paymnt{
position: relative;
    box-sizing: border-box;
    width: 100%;
  padding: 0px 15px 1px 15px;
    margin: 1em 0;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
   
    color: #515151;
	}
	.onpay{
	border-radius:4px;border:1px solid #eae9e9;background: #eae9e9;
	}
	.orderbtn{
	color: #fff; position:relative;bottom: 15px;
	}
.footfirst{
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
	}
	.boxheadfirst{
	border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-top: 1px solid #333;height: 339px; 
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	}
.btn-blue{
	background-color:#0266b5;
    color: white;
	}
	.pink{
	background-color: pink;   
	margin-right: 20px;
    padding: 3px 22px 3px 3px;
    border: 1px solid grey;
	}
	.white{
	background-color: white;   
	margin-right: 20px;
    padding: 3px 22px 3px 3px;
    border: 1px solid grey;
	}
	.sky{
	background-color: skyblue;
    padding: 3px 22px 3px 3px;  
	margin-right: 20px;
    border: 1px solid grey;
	}
	.yellow{
	background-color: #ffc800;   
	margin-right: 20px;
    padding: 3px 22px 3px 3px;
    border: 1px solid grey;
	}
	.btn-green{
	background-color: #009688;
    color: white;
	}
	.boxborder{
	border-radius: 8px;border: 1px solid black;    height: 380px;
	}
	.boxhead{
	background-color: dimgrey;color: white;padding: 8px 2px 5px 2px;border-top-left-radius: 8px;border-top-right-radius: 8px;
	}
	.boxfoot{
	background-color:#d2d2d2;color: black;    font-weight: 600;padding: 11px 2px 10px 2px;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;
	}
	.boldtxt{
	font-size: 14px; font-weight: 600;
	}
	.nxtborder{
	   border: 1px solid black;
    padding: 15px 5px 5px 5px;
    border-radius: 8px;
	}
	.blnkbox{
	border: 1px solid black;height: 225px;
	width: 50%;margin: 0 auto
	}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-footer {
  background-color: #0266b5;
  color:#fff;
      display: inline-block;
	  padding: 12px 25px !important;
}
.modal-header {
  padding: 2px 16px;
  background-color: #000;
  color: white;
}
.modal .modal-content .modal-header {
  padding: 11px 0px 0px 0px;
}
.modal-body {padding: 2px 16px;    height: auto !important;}
.modal-header {
    display: block;
	}
span.select2.select2-container.select2-container--default {
    width: 100% !important;
}
.modal-header .close {
    padding: 1rem;
    margin: -1rem -0.5rem -1rem auto;
}
.btn-accent {
    color: #fff;
    background-color: #00c5dc;
    border-color: #00c5dc;
}
@media only screen and (max-width: 767px){
	.rightline {
    border-right: 0px solid #ccc8c8 !important;
   
}
	.col-sm-offset-1 {
    margin-left: 8.33333333%;
}
.modal-content {
  width: 98%;
  }
  .boxfoot {
   padding: 22px 2px 10px 2px !important;
	}
	.boldtxt {
    text-align: center;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
	.col-md-offset-1 {
    margin-left: 8.33333333%;
}
.modal-content {
  width: 50%;
  }
   .boxfoot {
      padding: 4px 2px 10px 2px !important;
	  }
}
@media only screen and  (max-width: 768px){
     .boxborder {
   height: 425px;
}
.titlesml {
margin-bottom: 2rem !important;
    }
}

@media (min-width: 375px)and (max-width: 575px){
.nicEdit-panelContain {
    width: 55% !important;
}
}
@media (min-width: 576px)and (max-width: 767px){
.nicEdit-panelContain {
    width: 50% !important;
}
}
@media (min-width: 1025px){
	.col-xl-offset-2 {
    margin-left: 16.33333333%;
}
.m-portlet.m-portlet--full-height {
    height: calc(100% - 0rem) !important;
}
}
.m-portlet .m-portlet__head {
    border-bottom: 0px solid #ebedf2 !important;
}
.inprogress{
    font-size: 12px;
    font-weight: 600;
    color: #43af99;
    text-align: center;
    margin-top: 10px;
	}
	.inpending{
	font-size: 12px;
    font-weight: 600;
    color: #7b7b7b;
    text-align: center;
    margin-top: 10px;
	}
	
	
	.m-portlet{
	border-top: 1px solid #ebedf2;
	}
	.m-portlet.m-portlet--full-height {
    height: calc(100% - 0rem) !important;
}
	@media only screen and (max-width: 767px){
	
div#bodyEditor {
   
    width: 100% !important;
}
		#headerTextArea, #footerTextArea{
width: 100% !important; height: 100px;
}
#bodyTextArea{
    width: 100% !important;
	height: 200px !important;
}
		.progress{
			display:none;
		}
		.inprogress {
   bottom: 17px !important;
    position: relative !important;
    margin-top: 10px !important;
}
.inpending {
    font-size: 12px !important;
    bottom: 17px !important;
    position: relative !important;
}
	.border_text{
	text-align: left;
	padding-left: 0px !important;
	}
	.margin-left-20{
		margin-left:0px !important;
	}
	.border{
    border: 2px solid #dadada;
        margin: 0px 0px 0px 0px !important;
    border-radius: 5px;
}	
	}
	@media only screen and (min-width: 768px) and (max-width: 1024px){

	.border_text{
	text-align: left;
	padding-left: 0px !important;
	}
	.margin-left-20{
		margin-left:7px !important;
	}
	.border {
    border: 2px solid #dadada;
    margin: 0px 0px 0px 0px !important;
    border-radius: 5px;
}

.border_text {
    text-align: left;
    padding-left: 15px !important;
}
	}
@media only screen and (min-width: 1024px) and (max-width: 1440px){

	.margin-left-20 {
    margin-left: 4px !important;
}
}
.border{
    border: 2px solid #dadada;
        margin: 0px 43px 0px 43px;
    border-radius: 5px;
}	
.border_text{
padding-left: 55px;
    padding-top: 10px;
    
	}
	.booktext{
	text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    color: blue;
    font-weight: 600;
	}
	.newsborder{
	    border: 1px solid #dee2e6;
    padding: 15px;
    border-radius: 10px;
	padding-bottom:60px;
	}
	p {
    
    text-align: justify;
   
}
	.margin-top-10{
margin-top:10px;
}	
.margin-bottom-15{
margin-bottom:15px;
}
.textcount{
  
    text-align: center;
    font-size: 14px;
    font-weight: 600;
	position: relative;
    bottom: 52px;
	}
	.margin-left-20{
	margin-left:18px;
	}
		.m-form .m-form__seperator.m-form__seperator--dashed {
				border-top: 1px dashed #ebedf2;
			}
			
			.datepicker tbody tr > td.disabled {
				color: #ccc;
			}
			
			.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-number > span {
				position: relative;
				z-index: 1;
				margin: -3.75rem auto 0 auto;
				width: 140px !important;
				height: 3rem;
				border-radius: 0px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				color: #fff;
				    border-radius: 3px;
				font-weight: 600;
				font-size: 1.3rem;
				
			}

			.m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-number > span {
				position: relative;
				z-index: 1;
				margin: -3.75rem auto 0 auto;
				width: 200px !important;
				height: 4rem;
				border-radius: 0px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				color: #898b96;
				font-weight: 600;
				font-size: 1.3rem;
				
			}
			.m-header-menu {
				width: auto;
				float: right;
				margin: 0;
			}
			@media  (max-width: 425px) {
			.m-wizard__head{
			width: 100% !important;
			    right: 20px;
				 top: 20px;
			}
			.m-portlet.m-portlet--tabs .m-portlet__head{
			      padding-bottom: 0px !important;
			}
			}
				@media (min-width: 1440px) and (max-width: 1559px){
						.inpending, .inprogress{
width: 132% !important; 
}	
				}
			@media (min-width: 768px) and (max-width: 950px){
			.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress .progress {
    top: -10.4rem !important;
    position: absolute !important;
      width: 46.36rem !important;
    left: 4.15rem !important;
}
		.inpending, .inprogress{
width: 60% !important; margin-top: 0px !important;
}
			.m-portlet.m-portlet--tabs .m-portlet__head {
    padding: 10px 0px 10px 64px !important;
}
			.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress .progress {
   
    height: 0.25rem !important;
    border-radius: 0.71rem !important;
       left: 1.15rem !important;
	}
			}
			@media (min-width: 951px) and (max-width: 1024px){
						.inpending, .inprogress{
width: 50% !important; margin-top: 0px !important;
}
			.m-portlet.m-portlet--tabs .m-portlet__head {
			padding: 10px 0px 10px 108px !important;
			}
			.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress .progress {
       top: -10.3rem !important;
    position: absolute !important;
    height: 0.25rem !important;
    border-radius: 0.71rem !important;
    left: 5.15rem !important;
	}
			}
			
		@media (min-width: 1025px) and (max-width: 1200px){
					.inpending, .inprogress{
width: 51% !important;
 margin-top: 0px !important;
}
		.m-portlet.m-portlet--tabs .m-portlet__head {
			padding: 10px 0px 10px 115px !important;
			}
			.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress .progress {
       
    height: 0.25rem !important;
    border-radius: 0.71rem !important;
    left: 1.15rem !important;
	}

	.progress {
    position: relative;
  top: -13.5em !important;
}

			}	
			@media (min-width: 1201px) and (max-width: 1439px){
									.inpending, .inprogress{
width: 100% !important;

}
			.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress .progress {
     
    height: 0.25rem !important;
    border-radius: 0.71rem !important;
      left: 2.15rem !important;
	}
	.progress {
    position: relative;
  top: -13.5em !important;
}
.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps{
 margin-top: -8.15rem !important;
}
			}	
			@media (min-width: 768px) and (max-width: 1439px){
			.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps{
			display: flex !important;
			   
			}
			.m-wizard.m-wizard--2 {
				margin-top: 11rem !important;
			}
			.m-wizard.m-wizard--2 .m-wizard__head{
			    display: block !important;
				}



			}
			.progress{
position: relative;
top: 1.2em;
}
.m-wizard__head{
    padding: 0px !important;
    margin: 1em !important;
	}
	@media (min-width: 1200px) and (max-width: 1400px){
	 .m-portlet.m-portlet--tabs .m-portlet__head {
    padding: 7px 20rem; }
	}
	@media (min-width: 1401px) {
	 .m-portlet.m-portlet--tabs .m-portlet__head {
    padding: 7px 30rem; }
	}
	.m-header-menu {
				width: auto;
				float: right;
				margin: 0;
			}
			.m-widget2__item.m-widget2__item--warning:before {
    background: pink;
}
.hided_coast{
        padding: 10px 15px 25px 15px;
    background-color: #fafbff;
    bottom: 117px;
}
.alert {
   margin-bottom: 0rem !important;
   }
@media (min-width: 501px)and (max-width: 767px){
nav > div a.nav-item.nav-link.active:after {
    bottom: -44px !important;
    left: -26% !important;
}
}
@media (min-width: 768px)and (max-width: 874px){
#MATR-MAIN {
    min-width: 160px !important; 
	font-size: 12px !important;
}
nav > div a.nav-item.nav-link.active:after
 { 
 display: none !important;
  
}
}
@media (min-width: 875px) and (max-width: 1023px){
#MATR-MAIN {
    min-width: 174px !important;
}

}
@media (min-width: 1024px) and (max-width: 1199px){
#MATR-MAIN {
    min-width: 212px !important;
	}
	}
@media (min-width: 1200px) and (max-width: 1400px){
#MATR-MAIN {
    min-width: 180px !important;
	}
	nav > div a.nav-item.nav-link.active:after
 { 
 display: none !important;
  
}
.imgspan {
   width: 65% !important;
}
	}	
@media (min-width: 1401px) and (max-width: 1530px){
#MATR-MAIN {
    min-width: 190px !important;
	}
	.imgspan {
   width: 64% !important;
}
	}
nav > .nav.nav-tabs{
 border-bottom:5px solid #9a9a9a;
 
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
   padding: 12px 65px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

@media (min-width: 1025px) and (max-width: 1439px){
.m-brand__logo-wrapper, #m_header_menu{
    padding: 10px 25px 10px 25px !important;
	}

	
}
@media (min-width: 768px) and (max-width: 1023px){
.titlesml {
margin-bottom: 20px !important;
    }

.imgspan {
    position: absolute;
    width: 53% !important;
    top: 20px;
}
.row {
  
    padding-right: 0px !important;
    padding-left: 0px !important;
}
#ad-design-from{
	padding-right: 20px !important;
    padding-left: 20px !important;
}
}

@media (min-width: 1200px) and (max-width: 1399px){
.titlesml {
margin-bottom: 20px !important;
    }
}
@media (max-width: 767px) {
nav > div a.nav-item.nav-link.active:after
 { 
 display: none !important;
  
}
.borderline{
	position: relative;
    right: 10px;
}
	
}
nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -53px;
    left: 0%;
  border: 15px solid transparent;
  border-top-color: #9a9a9a ;
}
.tab-content{
line-height: 25px;
padding:30px 25px;
}
.m-widget14__title {
    color: #ffffff !important;
	position: relative;
    top: 10px;
}
	.m-widget14__desc {
    color: #d7d8da !important;
}
nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
   background: #9a9a9a;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
.m-header-menu {
				width: auto;
				float: right;
				margin: 0;
}
@media (min-width: 1440px) {
.m-brand__logo-wrapper, #m_header_menu{
	padding: 10px 25px 10px 25px;
}
}
.border{
    border: 1px solid grey;
    padding: 5px;
    border-radius: 4px;
}
.border1{
    border: 1px solid #c1c1c1;
    padding: 5px;
   
}
.nav-tabs .nav-item {
    margin-bottom: 3px !important;
}
.nav.nav-tabs {
    margin-bottom: 0px !important;
}

@media (min-width: 1200px){
.col-xl-1 {
    max-width: 12.33333%;
}
}

#nav-tab > .active {
background: #9a9a9a;
}
#MATR-MAIN{
border: 1px solid #c6c6c6;
    color: #111;
    display: inline-block;
    font-size: 14px;
    min-width: 224px;
    padding: 18px 0 18px 66px;
    text-transform: uppercase;
    line-height: 19px;
    position: relative;
    min-height: 67px;
	}
	.imgspan{
	position: absolute;
    width: 70%;
    top: 20px;
	}
	
	